<!-- Navbar Bootstrap -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Sistema de Reservas</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Aca van los routerLink con el ruteo a los componentes. Hay que agregarlos en el app.routes y hay que importar RouterLink en el app.component.ts -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" routerLink="/create-booking">
            Nueva Reserva
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/bookings">
            Lista de Reservas
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>


<!-- Esto se agrega para mostrar los componentes que se renderizan en la ruta de la url en que estamos. Hay que importar el RouterOutlet en el app.component.ts -->
<router-outlet></router-outlet>